{% extends 'website/base.html' %}
{% block content %}
    <div style="background-color: ghostwhite; padding: 30px; margin-top: 30px; border-radius: 20px;" class="row justify-content-center">

    <h1 class="col-sm-12" style="margin-bottom:30px;">Sign In</h1>
        <div class="col container">
  <form method="post">
  {% csrf_token %}
          {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px;"><b>Login</b></button>
  </form>
            </div>
    </div>
    <div class="row text-center">
        <h6>First time on the site? <a href="{% url 'registration' %}">Sign Up</a></h6>
    </div>
{% endblock %}